 body {
      width: 1100px;
      margin: 0 auto;
    }
    .imageContainer img {
      width: 100%;
      height: auto;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td {
      padding: 10px;
      text-align: center;
    }